<% form_for @new_period do |f| -%>
  
	
			<label  class="desc">
				Name
			</label>
				<input type="text" tabindex="6"	  class="field text" name="new_period[name]" />
			<label  class="desc">
				Start Date
			</label>
				<input type="text" tabindex="6"	  value="<%= @last_period.to_s(:date_medium)  %>" class="field text" name="new_period[start]" />
			<label >Example</label>
			<label  class="desc">
					End Date
			</label>	
				<%= date_select :new_period, :finish%>
					<label >Example</label>
			
			<button class="ui-state-default float-right ui-corner-all ui-button" type="submit">Create</button>
	

<% end -%>
