body#admin #adminWrap,body#admin #dashboard {
	background: none;
	}
#case .shadowHeader,#case .shadowHeader .shadowMidLeft,#primaryNavs {
	background-color: #0269ab;
	}
.navheader {
	background: url("/images/site/navigation/round-blue/header-bg.gif") repeat-x right bottom;
	}
.navheaderleft {
	background: url("/images/site/navigation/round-blue/header-bg-left.gif") no-repeat left bottom;
	_background: none;
	}
#header {
	width: 100%;
	font-size: 12px;
	line-height: normal;
	text-align: left;
	}
#header h1 {
	color: #fff;
	font: bold 24px arial,helvetica,sans-serif;
	padding: 20px 0 22px 5px;
	line-height: 26px;
	text-shadow: #004571 1px 1px 3px;
	}
#header h1.image {
	color: #fff;
	font: bold 24px arial,helvetica,sans-serif;
	padding: 0 0 10px;
	}
#header h1 span,#header h1.image span {
	color: #9fd6f5;
	font: bold 16px arial,helvetica,sans-serif;
	padding: 0 0 0 10px;
	}
#header h1 span a,#header h1.image span a {
	background: url("/images/site/navigation/round-blue/switch-client.gif") no-repeat right 2px;
	color: #9fd6f5;
	padding-right: 25px;
	}
#header h1 span a:hover,#header h1.image span a:hover {
	background: url("/images/site/navigation/round-blue/switch-client-on.gif") no-repeat right 2px;
	}
#nodd a,#nodd a {
	background: none!important;
	}
#nodd a:hover,#nodd a:hover {
	background: none!important;
	}
#header h1 a {
	color: #fff;
	text-decoration: none;
	}
#sampleColor {
	float: left;
	width: 27px;
	height: 27px;
	background: #144282;
	margin: 3px 10px 10px 0;
	}
.bghighlight {
	background: #e7f2f7;
	}
h3.sidebar {
	color: #484e54;
	}
tr.highlightRow,tr.skinAltRow {
	background-color: #f8fcff;
	}
a:link,a:visited,a:hover,a:active {
	color: #3081dd;
	}
a.manage {
	color: #797979;
	font-size: 11px;
	}
table.tableHeader th.sectionTitle span a {
	color: #3081dd;
	text-decoration: underline;
	}
.formBG h3,label.h3checkbox,.formBGCSS h3 {
	color: #1b57aa;
	font-size: 14px;
	font-weight: 700;
	}
.formBG label.checkbox {
	color: #204e8e;
	}
#primaryNavs {
	margin: 0 6px;
	}	
#primaryNavs ul {
	margin: 0;
	padding: 0 15px 0 0;
	list-style: none;
	}
#primaryNavs li {
	display: inline;
	margin: 0;
	padding: 0;
	}
#primaryNavs a {
	float: left;
	background: url("/images/site/navigation/round-blue/left_both.gif") no-repeat left top;
	margin: 0;
	padding: 0 0 0 12px;
	text-decoration: none;
	font-size: 12px;
	display: inline;
	}
#primaryNavs a span {
	float: left;
	display: block;
	background: url("/images/site/navigation/round-blue/right_both.gif") no-repeat right top;
	padding: 8px 12px 8px 0;
	font-weight: 700;
	color: #fff;
	text-shadow: #1a3c6f 1px 1px 1px;
	}
#primaryNavs a span {
	float: none;
	}
#primaryNavs a:hover span {
	color: #fff;
	}
#primaryNavs #current a {
	background-image: url("/images/site/navigation/round-blue/left_on.gif");
	border-width: 0;
	}
#primaryNavs #current a span {
	background-image: url("/images/site/navigation/round-blue/right_on.gif");
	color: #06476f;
	padding-bottom: 8px;
	text-shadow: none;
	}
#primaryNavs .selected a {
	background-image: url("/images/site/navigation/round-blue/left-sub_on.gif");
	border-width: 0;
	}
#primaryNavs .selected a span {
	background-image: url("/images/site/navigation/round-blue/right-sub_on.gif");
	color: #06476f;
	padding-bottom: 8px;
	text-shadow: none;
	}
#primaryNavs a:hover {
	background-position: 0% -100px;
	}
#primaryNavs a:hover span {
	background-position: 100% -100px;
	}
#primaryNavs #current a:hover,#primaryNavs .selected a:hover {
	background-position: top left;
	}
#primaryNavs #current a:hover span,#primaryNavs .selected a:hover span {
	background-position: top right;
	}
#secondaryNavs ul {
	margin-right: 5px;
	}
#secondaryNavs a {
	float: right;
	background: url("/images/site/navigation/round-blue/left_both.gif") no-repeat left top;
	margin: 0;
	padding: 0 0 0 12px;
	text-decoration: none;
	}
#secondaryNavs a span {
	float: right;
	display: block;
	background: url("/images/site/navigation/round-blue/right_both.gif") no-repeat right top;
	padding: 8px 12px 8px 0;
	font-weight: 700;
	color: #fff;
	text-shadow: #1a3c6f 1px 1px 1px;
	}
#secondaryNavs a span {
	float: none;
	}
#subNavs {
	background: #f0f9ff;
	margin: -1px -2px 0 -4px;
	_margin: 0 -2px 0 -4px;
	border-bottom: 1px solid #e4f2fb;
	padding: 10px 19px 8px;
	font-size: 11px;
	font-weight: 700;
	color: #5b7091;
	}
#subNavs a {
	color: #517f94;
	text-decoration: none;
	padding-top: 10px;
	padding-bottom: 9px;
	}
#subNavs a.active,#subNavs a:hover {
	color: #094773;
	}
.clientNavs a span {
	color: #7e99bf;
	}
.clientNavs a:hover span,.clientNavs li#clientNavsOn a span {
	color: #fff;
	}
div.segmentDivider span {
	background: #75abcd;
	}
.gaAlert {
	color: #4d758f;
	background-color: #d5ebfa;
	}