/* Search */

#searchBox {
	float:right;
	margin: 20px 25px 0 0;
}

#searchBox span {
	color: #FFFFFF;
}

/* Tag Cloud */
.css1 { font-size: 1.0em; }
.css2 { font-size: 1.2em; }
.css3 { font-size: 1.4em; }
.css4 { font-size: 1.6em; }

/* Asset Index */

#latestAssets {
}

#latestAssets img {
	margin: 0 5px 5px 0;
}

#featuredAsset {
	float:right;
}

#featuredAsset p {
	clear:both;
}

/* Asset Show */

#assetOverview {
	margin-top:20px;
}

#assetOverview .assetColOne {
	float:left;
	background-color: #000;
	margin-right:20px;
}

#assetOverview .assetColTwo {
	background-color: #cccccc;
	overflow: auto;
	
}

#assetShowNav  {
	margin-top:10px;
}

#assetShowNav a:link {
	border:1px solid #E5E5E5;
	color:#2173AF;
	padding:2px 7px;
	text-decoration:none;
	font:13px/18px Arial,sans-serif;	
}

#assetShowNav a:hover {
	background-color:#2173AF;
	color:#FFFFFF;
}

#assetShowNav .previous {
	float:left;
}

#assetShowNav .next {
	float:right;
}

/* Debt */

.red-highlight {
	background-color: #F8ACAC !important;
	color:#8D3F3F !important;
}

/* Tags */

span.tag {
background:url("/images/site/icons/tag.png") no-repeat scroll left center transparent;
border-right:1px solid #E5DC8A;
display:-moz-inline-box;
float:left;
margin:0 3px 3px 0;
padding:1px 3px 1px 9px;
}

span.tag a {
	color:#403D26;
	line-height: 16px;
text-decoration:none;
}

span.tag a.delete  {
	color:#CCCCCC;
	font-weight:bold;
	text-decoration:none;
	line-height: 16px;
	
}

span.tag a.delete:hover {
	color:#3081DD;
}

/* SubNavs */

#subNavs ul {
	list-style: none;
	}
#subNavs li {
	display: inline;
	margin: 0;
	padding: 0;
	}
#subNavs a {
	float: left;
	background: url("images/site/navigation/left_both.gif") no-repeat left top;
	padding: 0 3px 0 9px;
	text-decoration: none;
	font: bold 11px arial,helvetica,sans-serif;
	line-height: 16px;
	display: block;
	}
#subNavs a span {
	float: left;
	display: block;
	background: url("/images/site/navigation/right_both.gif") no-repeat right top;
	padding: 2px 9px 2px 0;
	color: #828282;
	}
#subNavs a span {
	float: none;
	}
#subNavs a:hover span {
	color: #333;
	}
#subNavs .selected a {
	background-image: url("/images/site/navigation/left_on_blue.png");
	border-width: 0;
	}
#subNavs .selected a span {
	background-image: url("/images/site/navigation/right_on_blue.png");
	color:#FFFFFF;
	padding-bottom: 8px;
	}
#subNavs .selected a:hover {
	background-position: top left;
	}
#subNavs .selected a:hover span {
	background-position: top right;
	}
