/* 960 Grid */
/* The grid for the homepage is based on the 1kb grid system*/

#home .grid_1 { width:60px; }
#home .grid_2 { width:140px; }
#home .grid_3 { width:220px; }
#home .grid_4 { width:300px; }
#home .grid_5 { width:380px; }
#home .grid_6 { width:460px; }
#home .grid_7 { width:540px; }
#home .grid_8 { width:620px; }
#home .grid_9 { width:700px; }
#home .grid_10 { width:780px; }
#home .grid_11 { width:860px; }
#home .grid_12 { width:940px; }

#home .column {
	margin: 0 10px;
	overflow: hidden;
	float: left;
	display: inline;
}
#home .row {
	width: 960px;
	margin: 0 auto;
	margin-bottom:20px;
	overflow: hidden;
}
#home .row .row {
	margin: 0 -10px;
	width: auto;
	display: inline-block;
}

/* Asset Homepage */

#latestAssets {
	background: #E4F2FB;
}

#latestAssets h3 {
	padding: 0 10px 0 10px;
	margin-bottom:0;
}

#latestAssets img {
	margin: 10px 10px 10px 10px;
}

/* Asset Homepage >> Featured Asset */

#featuredAsset {
	float:right;
}

#featuredAsset p {
	clear:both;
}

.overlayCaption { 
	width: 620px; 
	height: 320px; 
	float:left; 
	background:#161613; 
	overflow: hidden; 
	position: relative; 
}

.overlayCaption img { 
	position: absolute; 
	top: 0; 
	left: 0; 
	border: 0; 
}

.overlayCaption h3 { 
	padding:10px; 
	margin:0;
	color:#000000; 
	font-weight:bold; 
	font-size:20px
}
.overlayCaption p { 
	padding:0 10px 10px 10px; 
	color:#000000; 
	font-weight:bold; 
	font:10pt "Lucida Grande", Arial, sans-serif; 
}
				
.boxcaption { 
	float: left; 
	margin-top:250px;
	position: absolute; 
	background: #E4F2FB; 
	height: 100px; 
	width: 100%; 
	opacity: .3; 
	/* For IE 5-7 */
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
	/* For IE 8 */
	-MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	}

/* Asset Homepage >> Stats */

#home #stats {
}

/* Search */

#searchBox {
	float:right;
	margin: 20px 25px 0 0;
}

#searchBox span {
	color: #FFFFFF;
}

/* Tag Cloud */
.css1 { font-size: 1.0em; }
.css2 { font-size: 1.2em; }
.css3 { font-size: 1.4em; }
.css4 { font-size: 1.6em; }


/* Asset Show */

#assetOverview {
	margin-top:20px;
}

#assetOverview .assetColOne {
	float:left;
	background-color: #000;
	margin-right:20px;
}

#assetOverview .assetColTwo {
	background-color: #cccccc;
	overflow: auto;
	
}

#assetShowNav  {
	margin-top:10px;
}

#assetShowNav a:link {
	border:1px solid #E5E5E5;
	color:#2173AF;
	padding:2px 7px;
	text-decoration:none;
	font:13px/18px Arial,sans-serif;	
}

#assetShowNav a:hover {
	background-color:#2173AF;
	color:#FFFFFF;
}

#assetShowNav .previous {
	float:left;
}

#assetShowNav .next {
	float:right;
}

/* Debt */

.red-highlight {
	background-color: #F8ACAC !important;
	color:#8D3F3F !important;
}

/* Tags */

span.tag {
background:url("/images/site/icons/tag.png") no-repeat scroll left center transparent;
border-right:1px solid #E5DC8A;
display:-moz-inline-box;
float:left;
margin:0 3px 3px 0;
padding:1px 3px 1px 9px;
}

span.tag a {
	color:#403D26;
	line-height: 16px;
text-decoration:none;
}

span.tag a.delete  {
	color:#CCCCCC;
	font-weight:bold;
	text-decoration:none;
	line-height: 16px;
	
}

span.tag a.delete:hover {
	color:#3081DD;
}

/* SubNavs */

#subNavs ul {
	list-style: none;
	}
#subNavs li {
	display: inline;
	margin: 0;
	padding: 0;
	}
#subNavs a {
	float: left;
	background: url("images/site/navigation/left_both.gif") no-repeat left top;
	padding: 0 3px 0 9px;
	text-decoration: none;
	font: bold 11px arial,helvetica,sans-serif;
	line-height: 16px;
	display: block;
	}
#subNavs a span {
	float: left;
	display: block;
	background: url("/images/site/navigation/right_both.gif") no-repeat right top;
	padding: 2px 9px 2px 0;
	color: #828282;
	}
#subNavs a span {
	float: none;
	}
#subNavs a:hover span {
	color: #333;
	}
#subNavs .selected a {
	background-image: url("/images/site/navigation/left_on_blue.png");
	border-width: 0;
	}
#subNavs .selected a span {
	background-image: url("/images/site/navigation/right_on_blue.png");
	color:#FFFFFF;
	padding-bottom: 8px;
	}
#subNavs .selected a:hover {
	background-position: top left;
	}
#subNavs .selected a:hover span {
	background-position: top right;
	}

/* TABS */

ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 36px; /*--Set height of tabs--*/
	width: 100%;
	border-bottom: 1px #CCC solid;
	}
	
ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 37px; /*--Subtract 1px from the height of the unordered list--*/
	line-height: 37px; /*--Vertically aligns the text within the tab--*/
	border-left: none;
	margin-bottom: -1px; /*--Pull the list item down 1px--*/
	overflow: hidden;
	position: relative;
	background: #e0e0e0;
	background-image: url("/images/site/tabs/table-tab-off-left.gif");
	}
	
ul.tabs li a {
	text-decoration: none;
	color: #000;
	display: block;
	font-size: 1.2em;
	padding: 0 20px;
	border: 1px solid #fff; /*--Gives the bevel look with a 1px white border inside the list item--*/
	outline: none;
	}

ul.tabs li a:hover {
	background: #ccc;
	}

html ul.tabs li.active, html ul.tabs li.active a:hover  { /*--Makes sure that the active tab does not listen to the hover properties--*/
	background: #fff;
	border-bottom: 1px solid #fff; /*--Makes the active tab look like it's connected with its content--*/
	}

.tab_container {
	overflow: hidden;
	clear: both;
	float: left; width: 100%;
	background: #fff;
	}
	
.tab_content {
	padding: 0;
	}