<%= javascript_include_tag :defaults %>
<% title "New Asset" %>

<div class="content-box">
<div id="container">
	
	<div class="inner-page-title">
		<h3>New Asset</h3>
		
	</div>

<%= render :partial => 'form' %>

<p><%= link_to "Back to List", assets_path %></p>

<p>Note: The  "javascript_include_tag :defaults" is here to make the "add file" field work. This however, interferes with the jquery so needs to be fixed</p>

</div>
</div>