<% title "Locations" %>

<h3>Addresses</h3>

<% for location in @locations %>
    
	<div class="editPreview">
		
		<%= link_to image_tag(location_icon(location.category)), location_path(location) %>
			<h2><%= link_to "SKU: #{location.barcodes.first.sku}", location_path(location) %> </h2>
			<!--
				TODO Make the asset count work
			-->
			<h3><%= location.name %></h3>	
	</div>

<% end %>
