<div id="options">

	<div class="bghighlight"><h3 class="sidebar">Period</h3></div>
	
	<div class="response-msg go_to_current_period ui-corner-all">
		<div class="period_id"><%= current_period %></div>
		<div class="text"><a href="/periods/<%= current_period %>">Current Period</a></div>
	</div>
				
</div>
