<% content_for :layoutType do %>

<div id="content">
	
	<div id="fixedContent">
		
		<div id="home">
		
		<div class="row">
			<div class="column grid_12">
			<h1 id="campaignTitle"><%= h(yield(:title) || "Untitled") %></h1>
			</div>
		</div>
		<%= yield %>
		
		<div class="clear"></div>
		
		</div>		
	
	</div>
						
</div><!--content -->

<% end %>
<%= render :file => 'layouts/application' %>