<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Please login | Scott Hq</title>
		<meta http-equiv="content-type" content="application/xhtml+xml; charset=utf-8">
		<link href="stylesheets/login.css" media="screen,projection" rel="stylesheet" type="text/css" />
</head>

<body>



<div id="additional">
	
</div>



<div id="formWrapper">
	
	<div id="formCasing">

	<h1>Scott Hq</h1>

	<div id="loginForm">
	
	<%= yield %>

	
	</div>

	
	
	</div>
	
	<div id="formFooter"></div>

</div>

<!--CMWEB5-->

</body>
</html>

